<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org" th:fragment="layout (title,style,body)">
<head>
<meta http-equiv="content-Type"
	content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title th:replace="${title}">Attendance Manage Application</title>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}" type="text/css">
<script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/template.css}" type="text/css" media="screen, projection">
<style th:replace="${style}"></style>
</head>
<body>
	<div id="header" th:replace="~{layout/header :: header}"></div>

	<div id="body" th:replace="${body}"></div>

	<div id="footer" th:replace="~{layout/footer :: footer}"></div>
</body>
</html>