<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org" th:fragment="layout (title,body)">
<head>
<meta http-equiv="content-Type"
	content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title th:replace="${title}">Attendance Manage Application</title>
<link rel="stylesheet" th:href="@{/css/template.css}" type="text/css"
    media="screen, projection">
</head>
<body>
	<div id="header" th:replace="~{layout/header :: header}"></div>

	<div id="body" th:replace="${body}"></div>

	<div id="footer" th:replace="~{layout/footer :: footer}"></div>
</body>
</html>