<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>承認確認</title>
<style></style>
</head>
<body>
	<h2>承認確認</h2>
	<div style="display: flex;">
		<p style="margin: 0">案件名：</p>
		<p style="margin: 0 0 0 auto;">社員番号―氏名</p>
	</div>
	<input type="date" />
	<table style="margin: 15px auto 15px auto; text-align: center;" >
		<tr>
			<th>日付</th>
			<th>曜日</th>
			<th>区分</th>
			<th>出勤時間</th>
			<th>退勤時間</th>
			<th>休憩時間</th>
		</tr>
		<tr>
			<td>1</td>
			<td>月</td>
			<td>出勤</td>
			<td>9:00</td>
			<td>18:00</td>
			<td>1:00</td>
		</tr>
		<tr>
			<td>2</td>
			<td>火</td>
			<td>出勤</td>
			<td>9:00</td>
			<td>18:00</td>
			<td>1:00</td>
		</tr>
		<tr>
			<td>3</td>
			<td>水</td>
			<td>出勤</td>
			<td>9:00</td>
			<td>18:00</td>
			<td>1:00</td>
		</tr>
		<tr>
			<td>4</td>
			<td>木</td>
			<td>出勤</td>
			<td>9:00</td>
			<td>18:00</td>
			<td>1:00</td>
		</tr>
		<tr>
			<td>5</td>
			<td>金</td>
			<td>出勤</td>
			<td>9:00</td>
			<td>18:00</td>
			<td>1:00</td>
		</tr>
	</table>
	<p style="margin-top: 84px; font-size: 13px;">申請者コメント:ご確認のほどよろしくお願いいたします。</p>
	<p>コメント</p>
	<textarea  name="comment" rows="4" cols="40" style="float: left"></textarea>
	<input type="button" value="承認" style="margin: 5px 0 0 auto; width: 60px; display: block;"  />
	<input type="button" value="否認" style="margin: 5px 0 0 auto; width: 60px; display: block;"  />

</body>
</html>