<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>勤怠完了</title>
<style></style>
</head>
<body>
	<h2>勤怠完了</h2>

	<div class="attended-display" style="margin: 100px auto; text-align: center; ">
		<p>2019/12/20 08:50</p>
		<p>出勤しました。</p>
	</div>

	<input type="button" value="Logout" onclick="location.href='./login'" style="display: block; float: left; height: 35px;width: 115px;" />
	<input type="button" value="勤怠編集" onclick="location.href='./editWorkTime'" style="float: right; height: 35px;width: 115px;" />

</body>
</html>