<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>基本情報編集</title>
<style>
</style>
</head>
<body>
	<h2>基本情報編集</h2>
	<div style="text-align: center;">
		<div>
			<p style="display: contents;">　案件名：</p>
			<input type="text" placeholder="案件名" style="height: 23px; width: 210px; margin: auto; margin-bottom: 13px;" />
		</div>
		<div>
			<p style="display: contents;">　　出勤：</p>
			<input type="text" placeholder="出勤" style="height: 23px; width: 210px; margin: auto; margin-bottom: 13px;" />
		</div>
		<div>
			<p style="display: contents;">　　退勤：</p>
			<input type="text" placeholder="退勤" style="height: 23px; width: 210px; margin: auto; margin-bottom: 13px;" />
		</div>
		<div>
			<p style="display: contents;">休憩時間：</p>
			<input type="text" placeholder="休憩時間" style="height: 23px; width: 210px; margin: auto; margin-bottom: 13px;" />
		</div>
		<div>
			<p style="display: contents;">承認者１：</p>
			<select name="accepter1" class="selecter">
				<option value=""></option>
				<option value="test" selected>野比のび太</option>
				<option value="test">剛田武</option>
			</select>
		</div>
		<div>
			<p style="display: contents;">承認者２：</p>
			<select name="accepter2" class="selecter">
				<option value=""></option>
				<option value="test">野比のび太</option>
				<option value="test" selected>剛田武</option>
			</select>
		</div>
	</div>
	<input type="button" value="変更" style="margin: 10px 30px 0 auto; width: 80px; display: block;"  />

</body>
</html>