<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>祝日一覧</title>
<style></style>
</head>
<body>
	<h2>祝日一覧</h2>
	<p style="margin: 5px">◀ 2019 ▶</p>
	<table style="text-align: center; margin: auto; width: 82%;">
		<thead>
			<tr>
				<th style="width: 10%;">日付</th>
				<th style="width: 18%;">曜日</th>
				<th style="width: 56%;">名称</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>01/01</td>
				<td>火</td>
				<td>元日</td>
			</tr>
			<tr>
				<td>01/01</td>
				<td>火</td>
				<td>元日</td>
			</tr>
			<tr>
				<td>01/01</td>
				<td>火</td>
				<td>元日</td>
			</tr>
			<tr>
				<td>01/01</td>
				<td>火</td>
				<td>元日</td>
			</tr>
			<tr>
				<td>01/01</td>
				<td>火</td>
				<td>元日</td>
			</tr>
		</tbody>
	</table>
</body>
</html>