<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::style},~{::body/content()})}">
<head>
<title>祝日一覧</title>
<style></style>
</head>
<body>
	<div style="display: flex; margin-top:30px;margin-left:15px;">
		<a th:href="@{/admin}">
			<input type="button" value="＜" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;" />
		</a>
		<h2 style="margin-top:3px;">祝日一覧</h2>
	</div>
	<p style="margin: 5px">
		<a th:href="@{'/holidayList?passYaer=' + ${yaer} + '&goAonother=back'}">◀</a>  <span th:text="${yaer}"></span>
		<a th:href="@{'/holidayList?passYaer=' + ${yaer} + '&goAonother=next'}">▶</a>
	</p>
	<p th:text="${none}"></p>
	<table style="text-align: center; margin: auto; width: 82%;">
		<thead>
			<tr>
				<th style="width: 15%;">日付</th>
				<th style="width: 18%;">曜日</th>
				<th style="width: 56%;">名称</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="holiday : ${holiday}">
				<td th:text="${holiday.dayAndMonth}"></td>
				<td th:text="${holiday.dayOfWeek}"></td>
				<td th:text="${holiday.jpday}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>