<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>ログイン</title>
<style></style>
</head>
<body>
	<form action="" method="post">
		<div style="text-align: center; display: grid;">
			<p>Please fill out blank.</p>
			<input type="text" placeholder="username" style="height: 23px; width: 210px; margin: auto; margin-bottom: 13px;" />
			<input type="password" placeholder="password" style="height: 23px; width: 210px; margin: auto;" />
			<input type="button" value="Login" style="margin: 10px 56px 0 auto; width: 80px;"  />
		</div>
	</form>
</body>
</html>