<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>申請者一覧</title>
<style></style>
</head>
<body>
	<h2>申請者一覧</h2>
	<table style="margin: 15px auto 15px auto; text-align: center;" >
		<tr>
			<th style="width: 5%;">ID</th>
			<th>名前</th>
			<th>申請日</th>
			<th>ステータス</th>
			<th></th>
		</tr>
		<tr>
			<td>001</td>
			<td>鈴木太郎</td>
			<td>12/12</td>
			<td>承認待</td>
			<td>
				<input type="button" value="確認" onclick="location.href='./admit'">
			</td>
		</tr>
		<tr>
			<td>002</td>
			<td>田中太郎</td>
			<td>12/12</td>
			<td style="color: green;">承認済</td>
			<td>
				<input type="button" value="確認" onclick="location.href='./admit'">
			</td>
		</tr>
		<tr>
			<td>003</td>
			<td>伊藤太郎</td>
			<td>12/12</td>
			<td style="color: red;">否承認</td>
			<td>
				<input type="button" value="確認" onclick="location.href='./admit'">
			</td>
		</tr>
		<tr>
			<td>004</td>
			<td>佐藤太郎</td>
			<td>12/12</td>
			<td style="color: red; background-color: yellow;">遅れ</td>
			<td>
				<input type="button" value="確認" onclick="location.href='./admit'">
			</td>
		</tr>
		<tr>
			<td>005</td>
			<td>梶原太郎</td>
			<td>12/12</td>
			<td>承認待</td>
			<td>
				<input type="button" value="確認" style="">
			</td>
		</tr>
		<tr>
			<td>006</td>
			<td>岡村太郎</td>
			<td>12/12</td>
			<td>承認待</td>
			<td>
				<input type="button" value="確認" style="">
			</td>
		</tr>
		<tr>
			<td>007</td>
			<td>矢部太郎</td>
			<td>12/12</td>
			<td>承認待</td>
			<td>
				<input type="button" value="確認" style="">
			</td>
		</tr>
	</table>
</body>
</html>