<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::style},~{::body/content()})}">
<head>
<title>申請者一覧</title>
<style></style>
</head>
<body>
	<div style="display: flex; margin-top:30px;margin-left:15px;">
		<a th:href="@{/top}">
			<input type="button" value="＜" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;" />
		</a>
		<h2 style="margin-top:3px;">申請者一覧</h2>
	</div>
	<table style="margin: 15px 8px 15px 8px; text-align: center;" >
		<tr>
			<th style="width: 5%;">ID</th>
			<th>名前</th>
			<th>申請日</th>
			<th>ステータス</th>
			<th></th>
		</tr>
		<tr th:each="requester : ${requesters}">
			<td th:text="${requester.userid}"></td>
			<td th:text="${requester.username}"></td>
			<td th:text="${requester.requestday}"></td>
			<td th:text="${requester.status}"></td>
			<td>
				<a th:href="@{/admit(id=${requester.requestid})}">
				    <button type="button" >確認</button>
				</a>
			</td>
		</tr>
	</table>
</body>
</html>