<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::style},~{::body/content()})}">
<head>
<title>ユーザ一覧</title>
<style></style>
</head>
<body>
	<div style="display: flex; margin-top:30px;margin-left:15px;">
		<a th:href="@{/admin}">
			<input type="button" value="＜" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;" />
		</a>
		<h2 style="margin-top:3px;">社員一覧</h2>
	</div>
	<table style="text-align: center; margin: auto; width: 96%;">
		<thead>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>入社日</th>
				<th>承認担当者</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.userid}"></td>
				<td th:text="${user.kanjiname}"></td>
				<td th:text="${user.hiredate}"></td>
				<td th:text="${user.authorizer}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>